body {
    font-family: Arial, sans-serif;
}

.download {
    border-radius: 4px;
    border: none;
    background: green;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

.download:hover {
    background:darkgreen;
}

.cornerRadius {
    border-radius: 20%;
}

.gameIcon {
    max-width: 120px;
    max-height: 120px;
    margin-right: 16px;
}

.learnMore {
    text-decoration: none;
}

.gameTitle {
    text-decoration: none;
}

.button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.button:hover {
    background-color: darkgreen;
}

.section-selector {
    display: block;
}

li {
    line-height: 1.5;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.centeredContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding-bottom: 80px;
}

.centeredContainerMenu {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}

.topMarginLarge {
    margin-top: 40px
}

.youtubeMedia {
    width: 100%;
    height: 450px;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.heroImage {
    width: 100%;
    max-width: 800px;
    max-height: 450px;
}

.icon {
    width: 56px;
    border-radius: 16%
}

.smallImage {
    border-radius: 16%;
    width: 200px
}

.topMarginLarge {
    margin-top: 40px
}

.bottomMarginLargest {
    margin-bottom: 64px
}

.marginRegular {
    margin: 16px
}

.helpVideoThumbnail {
    max-width: 280px
}

.review {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.width100percent {
    width:100%
}

.menuLink {
    white-space:nowrap;
    padding-right:8px
}